<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加会员</title>
    <link rel="stylesheet" th:href="@{/statics/plugin/bootstrap/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/statics/plugin/bootstrap/css/bootstrap-theme.css}" />
    <link rel="stylesheet" th:href="@{/statics/plugin/webuploader/webuploader.css}" />



    <script th:src="@{/statics/plugin/jquery.min.js}"></script>
    <script th:src="@{/statics/plugin/bootstrap/js/bootstrap.min.js}"></script>


    <script th:src="@{/statics/plugin/webuploader/webuploader.js}"></script>

    <script th:inline="javascript" type="text/javascript">
        var ctxPath=[[${#httpServletRequest.getContextPath()}]];
    </script>
    <title>Title</title>

    <style>
        .box {
            width: 500px;
            height: 420px;
            box-sizing: border-box;
            /*border: 1px solid #666;*/
            /*border-radius: 5px;*/
            /* 采用定位的方式 */
            position: absolute;
            top: 50%;
            left: 45%;
            margin-left: -150px;
            margin-top: 100px;
        }

    </style>
</head>
<body>

<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">

            <div class="ibox-content box"  >
                <div class="row"  >
                    <div style="margin-top: 50px">
                        <p style="font-size: 40px">批量添加用户</p>
                    </div>
                    <div style="margin-top: 50px">
                        <a href="/memberUpload/downLoadMemberModel">下载批量添加用户模板</a>
                    </div>

                </div>
                <div id="uploader-demo" style="margin-top: 50px" >
                    <!--用来存放item-->
                    <div id="thelist" class="uploader-list"></div>
                    <div class="text-center ">
                        <div id="filePicker" style="float:left">选择文件</div>
                        <div style="float:left"><button id="ctlBtn" class="btn btn-default">开始上传</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<span style="font-size:14px;">
</span>


<script type="text/javascript">
    var uploader;
    $(function(){
        /*init webuploader*/
        var $list=$("#thelist");   //这几个初始化全局的百度文档上没说明，好蛋疼。
        var $btn =$("#ctlBtn");	 //开始上传
        var thumbnailWidth = 100;   //缩略图高度和宽度 （单位是像素），当宽高度是0~1的时候，是按照百分比计算，具体可以看api文档
        var thumbnailHeight = 100;

        uploader = WebUploader.create({
            // 选完文件后，是否自动上传。
            auto: false,

            // swf文件路径
            swf: ctxPath + '/statics/plugin/webuploader/Uploader.swf',

            // 文件接收服务端。
            server: ctxPath + '/memberUpload/upload',

            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#filePicker',

            // 只允许选择图片文件。
            /*accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/!*'
            },*/
            method:'POST',
        });
        // 当有文件添加进来的时候
        uploader.on( 'fileQueued', function( file ) {  // webuploader事件.当选择文件后，文件被加载到文件队列中，触发该事件。等效于 uploader.onFileueued = function(file){...} ，类似js的事件定义。
            var $li = $(
                '<div id="' + file.id + '" class="file-item thumbnail">' +
                '<img>' +
                '<div class="info">' + file.name +
                '<button style="float:right" onclick=\"deleteThisFile(\''  + file.id +  '\')\">删除</button>' +
                '</div>' +
                '</div>'

                ),
                $img = $li.find('img');


            // $list为容器jQuery实例
            $list.append( $li );

            // 创建缩略图
            // 如果为非图片文件，可以不用调用此方法。
            // thumbnailWidth x thumbnailHeight 为 100 x 100
            uploader.makeThumb( file, function( error, src ) {   //webuploader方法
                if ( error ) {
                    //$img.replaceWith('<span>不能预览</span>');
                    return;
                }

                $img.attr( 'src', src );
            }, thumbnailWidth, thumbnailHeight );
        });
        // 文件上传过程中创建进度条实时显示。
        uploader.on( 'uploadProgress', function( file, percentage ) {
            var $li = $( '#'+file.id ),
                $percent = $li.find('.progress span');

            // 避免重复创建
            if ( !$percent.length ) {
                $percent = $('<p class="progress"><span></span></p>')
                    .appendTo( $li )
                    .find('span');
            }

            $percent.css( 'width', percentage * 100 + '%' );
        });

        // 文件上传成功，给item添加成功class, 用样式标记上传成功。
        uploader.on( 'uploadSuccess', function( file,response ) {

            alert(response.msg);
            $( '#'+file.id ).addClass('upload-state-done');
        });

        // 文件上传失败，显示上传出错。
        uploader.on( 'uploadError', function( file ) {
            var $li = $( '#'+file.id ),
                $error = $li.find('div.error');

            // 避免重复创建
            if ( !$error.length ) {
                $error = $('<div class="error"></div>').appendTo( $li );
            }

            $error.text('上传失败');
        });

        // 完成上传完了，成功或者失败，先删除进度条。
        uploader.on( 'uploadComplete', function( file ) {
            $( '#'+file.id ).find('.progress').remove();
            $( '#'+file.id ).remove();
            //alert(file.name + "上传成功");
        });
        $btn.on( 'click', function() {
            //console.log("上传...");
            uploader.upload();
            //console.log("上传成功");

        });
    });

    function deleteThisFile(id){
        $( '#'+id ).remove();
        uploader.removeFile(uploader.getFile(id,true));
    }
</script>

</body>
</html>